.jumbotron {
    background-color: orange;
    color: green;
    font-size: 3.9em;
}

#winnings {
    color: darkorange;
    font-size: 1.8em;
}

#total {
    color: darkgreen;
    font-size: 2em;
}

.earnings li {
    list-style: none;
    color: blue;
}

img {
    border: 5px solid black;
}

.earn {
    background-color: green;
    margin: 1px;
}

footer {
    font-size: 0.8em;
}


body {
    text-align: center;
    background-color: grey;
}

button {
    background-color:white;
    color: black;
}

games {
    font-size:80px;
}