.jumbotron {
    background-color: black;
    color: green;
}

#winnings {
    color: darkorange;
    font-size: 1.8em;
}

#total {
    color: darkgreen;
    font-size: 2em;
}

.earnings li {
    list-style: none;
    color: blue;
}